<div class="card dialog-box p-3">
    <div class="container">
        <div class="">
            <div class="h3 dialog-title oxanium d-inline-block px-1">
                {{title}}
            </div>
        </div>
        <div class="px-lg-2">
            <div *ngFor="let d of disclaimers" class="dialog-content my-2">
                {{d}}
            </div>
        </div>
        <div class="text-center my-2">
            <mat-checkbox [(ngModel)]="accepted" color="accent"><strong>I Accept</strong></mat-checkbox>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-evenly gap-2 mt-2">
            <button mat-raised-button class="btn-accept" [disabled]="!accepted" (click)="onAccept()">Proceed to Website</button>
            <button mat-raised-button class="btn-decline" (click)="onDecline()">Decline</button>
        </div>
    </div>
</div>