.nav-item {
    margin-left: 1rem;
}

.nav-link {
    width: auto;
}

.nav-item:hover {
    .nav-link {
        border-bottom: 1px solid whitesmoke;
        text-shadow: 0px 0px 10px rgb(245, 245, 245);
    }
}