<div class="base-color sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container-fluid">
                <button class="navbar-toggler base-color border-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="fa-solid fa-bars base-color"></span>
                </button>
                <a class="navbar-brand d-flex" href="#">
                    <img src="assets/icon.png" alt="Logo" width="70" height="70" class="d-inline-block align-text-top">
                    <div class="d-flex  p-1">
                        <div class=" align-self-center h3 base-color">
                            Dalakoti & Associates
                        </div>
                    </div>
                </a>
                <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item ">
                            <a class="nav-link base-color" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link base-color" href="#">People</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link base-color" href="#">Practices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link base-color" href="#">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link base-color" href="#">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link base-color" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>