<div [class]="headerClass">
    <div class="container">
        <nav class="navbar navbar-expand-lg px-0 py-lg-3 py-1 ">
            <div class="container-fluid p-0">
                <a class="navbar-brand d-flex " href="#">
                    <img src="assets/icon.png" alt="Logo" class="d-inline-block align-text-top">
                    <div class="d-flex">
                        <div class=" m-1 mt-lg-2 base-color">
                            <div class="sub-title mb-lg-2">Chamber of</div>
                            <div class="site-title oxanium">Aditi Dalakoti</div>
                        </div>
                    </div>
                </a>
                <button class="navbar-toggler base-color border-white my-2 ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="fa-solid fa-bars base-color"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item ">
                            <a class="nav-link base-color" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link base-color" href="#">People</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link base-color" href="#">Practices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link base-color" href="#">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link base-color" href="#">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link base-color" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>