.nav-item {
    margin-left: 1rem;
}

.nav-link {
    width: auto;
}

.nav-item:hover {
    .nav-link {
        border-bottom: 1px solid whitesmoke;
        text-shadow: 1px 1px 2px black, 0px 0px 1rem #ff4081;
    }
}

img{
    width: clamp(50px,6vw,100px);
    height: clamp(50px,6vw,100px);
}
.sub-title{
    font-size: clamp(0.75rem,2.5vw,1.3rem);
}
.site-title{
    font-size: clamp(1.15rem,2vw, 2rem);
    font-weight: bold;
    letter-spacing: .1rem;
    font-variant: small-caps;
}