<div [class]="headerClass">
    <div class="container">
        <nav class="navbar navbar-expand-lg px-0 py-lg-3 py-1 ">
            <div class="container-fluid p-0">
                <a class="navbar-brand d-flex " routerLink="home">
                    <img src="assets/icon.png" alt="Logo" class="d-inline-block align-text-top">
                    <div class="d-flex">
                        <div class=" m-1 mt-lg-2 base-color">
                            <div class="sub-title mb-lg-2">Chamber of</div>
                            <div class="site-title oxanium">Aditi Dalakoti</div>
                        </div>
                    </div>
                </a>
                <button class="navbar-toggler base-color border-white my-2 ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="fa-solid fa-bars base-color"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a routerLink="/home" class="nav-link base-color">{{ 'nav.home' | translate }}</a></li>
                        <li class="nav-item"><a routerLink="/about" class="nav-link base-color">{{ 'nav.about' | translate }}</a></li>
                        <li class="nav-item"><a routerLink="/practices" class="nav-link base-color">{{ 'nav.practices' | translate }}</a></li>
                        <li class="nav-item"><a routerLink="/faqs" class="nav-link base-color">{{ 'nav.faqs' | translate }}</a></li>
                        <li class="nav-item"><a routerLink="/blog" class="nav-link base-color">{{ 'nav.blog' | translate }}</a></li>
                        <li class="nav-item"><a routerLink="/contact" class="nav-link base-color">{{ 'nav.contact' | translate }}</a></li>
                        <li class="nav-item d-flex align-items-center ms-lg-2">
                            <span class="lang-label" [class.active]="translationService.currentLanguage === 'en'">EN</span>
                            <div class="lang-switch" (click)="toggleLanguage()" [class.hindi]="translationService.currentLanguage === 'hi'">
                                <div class="lang-slider"></div>
                            </div>
                            <span class="lang-label" [class.active]="translationService.currentLanguage === 'hi'">हिं</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>