<div  class="bg-body-tertiary fullvh">
  <app-header></app-header>
  <div class="container card my-5">
    <h1>Dalakoti Law</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam distinctio est quam iure. Voluptas dolores repudiandae voluptates odio sunt dicta. Incidunt quaerat explicabo vero soluta sequi voluptatum ipsa ratione dolor?</p>
  </div>
  <div class="container card my-5">
    <h1>Dalakoti Law</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam distinctio est quam iure. Voluptas dolores repudiandae voluptates odio sunt dicta. Incidunt quaerat explicabo vero soluta sequi voluptatum ipsa ratione dolor?</p>
  </div>
  <div class="container card my-5">
    <h1>Dalakoti Law</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam distinctio est quam iure. Voluptas dolores repudiandae voluptates odio sunt dicta. Incidunt quaerat explicabo vero soluta sequi voluptatum ipsa ratione dolor?</p>
  </div>
  <div class="container card my-5">
    <h1>Dalakoti Law</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam distinctio est quam iure. Voluptas dolores repudiandae voluptates odio sunt dicta. Incidunt quaerat explicabo vero soluta sequi voluptatum ipsa ratione dolor?</p>
  </div>
  <div class="container card my-5">
    <h1>Dalakoti Law</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam distinctio est quam iure. Voluptas dolores repudiandae voluptates odio sunt dicta. Incidunt quaerat explicabo vero soluta sequi voluptatum ipsa ratione dolor?</p>
  </div>
  <div class="container card my-5">
    <h1>Dalakoti Law</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam distinctio est quam iure. Voluptas dolores repudiandae voluptates odio sunt dicta. Incidunt quaerat explicabo vero soluta sequi voluptatum ipsa ratione dolor?</p>
  </div>
  <div class="container card my-5">
    <h1>Dalakoti Law</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam distinctio est quam iure. Voluptas dolores repudiandae voluptates odio sunt dicta. Incidunt quaerat explicabo vero soluta sequi voluptatum ipsa ratione dolor?</p>
  </div>
  <app-footer></app-footer>
</div>