p {
    margin: 0;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

.footer-link {
    color: var(--accent-color);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
}
.footer-link:hover {
    color: #e0c068;
}

.address-link:hover .map-icon {
    color: var(--accent-color);
    text-shadow: 0px 0px 0.5rem var(--accent-color);
}

.footer-divider {
    border-color: rgba(255,255,255,0.2);
    margin: 0.75rem 0;
}