<div class="base-color">
    <div class="container">
        <div class="d-flex justify-content-between py-1">
            <div class=" w-25 d-none d-lg-flex px-2 ">
                <div class=" align-self-center">
                    Aditi Dalakoti is an advocate with an exceptional track
                    record and extraordinary commitment to meeting the
                    needs of clients in an economical and timely manner.
                </div>
            </div>
            <div class="flex-fill text-lg-center d-flex px-2  justify-content-lg-center">
                <div class="align-self-center">
                    <p>
                        &copy; 2024 Chamber of Aditi Dalakoti.
                    </p>
                    <p class="">
                        All rights reserved.
                    </p>
                    <p>
                        Disclaimer | Site Map
                    </p>
                </div>
            </div>
            <div class="w-25 text-end  d-flex px-2  justify-content-end">
                <div class=" align-self-center ">
                    <a class="d-flex nav-link address-link" href="https://maps.app.goo.gl/M4t5vNnNkSK7KEFK6" target="_blank" rel="noopener noreferrer">
                        <div class="align-self-center m-3 h2 map-icon">
                            <span class="fa-solid fa-map-location-dot"></span>
                        </div>
                        <div class="align-self-center">
                            <p class="text-nowrap m-0">
                                Office 1, Dalakoti Niwas
                            </p>
                            <p class="text-nowrap m-0">
                                Pilikothi, Kaladhungi Road
                            </p>
                            <p class="text-nowrap m-0">
                                Haldwani, Uttarakhand
                            </p>
                            <p class="text-nowrap m-0">
                                India - 263139
                            </p>
                        </div>
                    </a>
                    <p class="my-2">
                        <span class="fa-solid fa-phone"></span> <span class="h6">
                            +91-8755501957
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>