<div class="base-color">
    <div class="container">
        <div class="d-flex justify-content-between py-1">
            <div class=" w-25 d-none d-lg-flex">
                <div class=" align-self-center">
                    <p>
                        Dalakoti & Associates is a law firm with an exceptional track
                        record and extraordinary commitment to meeting the
                        needs of clients in an economical and timely manner.
                    </p>
                </div>
            </div>
            <div class="w-auto  text-lg-center d-flex">
                <div class=" align-self-center">
                    <p>
                        &copy; 2024 Dalakoti & Associates.
                    </p>
                    <p class="">
                        All rights reserved.
                    </p>
                    <p>
                        Disclaimer | Site Map
                    </p>
                </div>
            </div>
            <div class="w-auto text-end  d-flex">
                <div class=" align-self-center">
                    <p class="text-nowrap m-0">
                        Office 1, Dalakoti Niwas
                    </p>
                    <p class="text-nowrap m-0">
                        Pilikothi, Kaladhungi Road
                    </p>
                    <p class="text-nowrap m-0">
                        Haldwani, Uttarakhand 
                    </p>
                    <p class="text-nowrap m-0">
                        India - 263139
                    </p>
                    <p class="my-2">
                        <span class="fa-solid fa-phone"></span> <span class="h6">
                            +91-8755501957
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>